# HOW TO READ AND WRITE CSV FILES THAT IS EXCEL SHEETS AND HOW TO MAKE ITS ALGORITHM USING PANDASS

In [1]:
import pandas as pd
import numpy as np

# HOW TO WRITE A CSV FILE

In [2]:
data_of_school = pd.DataFrame([[33,22],[25,56],[34,17],[56,21],[36,14],[23,24]], columns=["BOYS", "GIRLS"], index = ["DIV-A","DIV-B","DIV-C","DIV-D","DIV-E","DIV-F"])

In [3]:
data_of_school

       BOYS  GIRLS
DIV-A    33     22
DIV-B    25     56
DIV-C    34     17
DIV-D    56     21
DIV-E    36     14
DIV-F    23     24

In [4]:
data_of_school.to_csv("school_data.csv")

# NOW HOW TO READ A CSV FILE 
IF ANY COMPANY PROVOIDES DATA IN EXCELL SHEET THEN HOW TO GET IT # HERE SCHOOL_DATA.CSV WORK AS ITS

In [5]:
data = pd.read_csv('school_data.csv')
data.head()

  Unnamed: 0  BOYS  GIRLS
0      DIV-A    33     22
1      DIV-B    25     56
2      DIV-C    34     17
3      DIV-D    56     21
4      DIV-E    36     14

In [6]:
data['BOYS'].dtype

dtype('int64')

In [9]:
data_in_array = data.values   # it is converting the sheet into excel

In [10]:
data_in_array

array([['DIV-A', 33, 22],
       ['DIV-B', 25, 56],
       ['DIV-C', 34, 17],
       ['DIV-D', 56, 21],
       ['DIV-E', 36, 14],
       ['DIV-F', 23, 24]], dtype=object)